#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.new-report {
  border-color: black;
  margin-bottom: 20px;
}

table,
th,
td {
  position: relative;
  border: 1px solid black;
  border-collapse: collapse;
}
